@font-face
    font-family 'font-text'
    font-display swap
    src url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/proxima-nova.eot?91916')
    src url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/proxima-nova.eot?91916#iefix')
      format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/proxima-nova.woff2?91916') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/proxima-nova.woff?91916') format('woff'),
    url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/proxima-nova.ttf?91916') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'font-header'
    font-display block
    src url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/gastromond-regular.eot?91916')
    src url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/gastromond-regular.eot?91916#iefix')
      format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/gastromond-regular.woff2?91916')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/gastromond-regular.woff?91916') format('woff'),
    url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/gastromond-regular.ttf?91916')
      format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'font-icon'
    font-display block
    src url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/fontello.eot?91916')
    src url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/fontello.eot?91916#iefix')
      format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/fontello.woff?91916') format('woff'),
    url('https://cdn.shopify.com/s/files/1/0118/0132/9723/t/5/assets/../assets/fontello.ttf?91916') format('truetype')
    font-weight normal
    font-style normal
