@media only screen
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (-o-min-device-pixel-ratio: 1.25/1),
  only screen and (min--moz-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (min-width: 600px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 600px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 600px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 600px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 600px),
  only screen and (min-resolution: 200dpi) and (min-width: 600px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 600px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (min-width: 768px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 768px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 768px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 768px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 768px),
  only screen and (min-resolution: 200dpi) and (min-width: 768px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 768px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (min-width: 1024px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1024px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 1024px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 1024px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 1024px),
  only screen and (min-resolution: 200dpi) and (min-width: 1024px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 1024px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (min-width: 1280px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1280px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 1280px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 1280px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 1280px),
  only screen and (min-resolution: 200dpi) and (min-width: 1280px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 1280px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (min-width: 1440px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1440px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 1440px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 1440px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 1440px),
  only screen and (min-resolution: 200dpi) and (min-width: 1440px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 1440px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (min-width: 1600px)
    .img-collections-dsc09108-jpg
        background ''

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1600px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 1600px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 1600px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 1600px),
  only screen and (min-resolution: 200dpi) and (min-width: 1600px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 1600px)
    .img-collections-dsc09108-jpg
        background ''
