@font-face {
  font-family: 'font-text';
  font-display: swap;
  src: url('../fonts/proxima-nova.eot');
  src: url('../fonts/proxima-nova-iefix.eot')
      format('embedded-opentype'),
    url('../fonts/proxima-nova.woff2')
      format('woff2'),
    url('../fonts/proxima-nova.woff') format('woff'),
    url('../fonts/proxima-nova.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-header';
  font-display: block;
  src: url('../fonts/gastromond-regular.eot');
  src: url('../fonts/gastromond-regular-iefix.eot')
      format('embedded-opentype'),
    url('../fonts/gastromond-regular.woff2')
      format('woff2'),
    url('../fonts/gastromond-regular.woff')
      format('woff'),
    url('../fonts/gastromond-regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-icon';
  font-display: block;
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello-iefix.eot')
      format('embedded-opentype'),
    url('../fonts/fontello.woff') format('woff'),
    url('../fonts/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
