@media only screen {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=345&h=345');
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (-o-min-device-pixel-ratio: 1.25/1),
  only screen and (min--moz-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=345&h=345&dpr=2');
  }
}
@media only screen and (min-width: 600px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=570&h=570');
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 600px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 600px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 600px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 600px),
  only screen and (min-resolution: 200dpi) and (min-width: 600px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 600px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=570&h=570&dpr=2');
  }
}
@media only screen and (min-width: 768px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=678&h=453');
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 768px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 768px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 768px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 768px),
  only screen and (min-resolution: 200dpi) and (min-width: 768px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 768px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=678&h=453&dpr=2');
  }
}
@media only screen and (min-width: 1024px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=462&h=362');
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1024px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 1024px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 1024px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 1024px),
  only screen and (min-resolution: 200dpi) and (min-width: 1024px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 1024px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=462&h=362&dpr=2');
  }
}
@media only screen and (min-width: 1280px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=590&h=440');
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1280px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 1280px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 1280px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 1280px),
  only screen and (min-resolution: 200dpi) and (min-width: 1280px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 1280px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=590&h=440&dpr=2');
  }
}
@media only screen and (min-width: 1440px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=670&h=500');
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1440px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 1440px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 1440px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 1440px),
  only screen and (min-resolution: 200dpi) and (min-width: 1440px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 1440px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=670&h=500&dpr=2');
  }
}
@media only screen and (min-width: 1600px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=750&h=560');
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1600px),
  only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 1600px),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 1600px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 1600px),
  only screen and (min-resolution: 200dpi) and (min-width: 1600px),
  only screen and (min-resolution: 1.25dppx) and (min-width: 1600px) {
  .img-collections-dsc09108-jpg {
    background-image: url('//thrilling.imgix.net/s/files/1/0118/0132/9723/collections/DSC09108.jpg?fit=crop&crop=faces,edges&fm=pjpg&w=750&h=560&dpr=2');
  }
}
